                </div>
			</div>
			<!--/.container-->
		</div>
		<div class="footer">
			<div class="container">
				<b class="copyright">© 2014 Admin - DaoNguyen </b>All rights
				reserved.
			</div>
		</div>
		<script
			src="/Scripts/jquery-1.9.1.min.js"
			type="text/javascript"
		></script>
		<script
			src="/Scripts/jquery-ui-1.10.1.custom.min.js"
			type="text/javascript"
		></script>
		<script
			src="/bootstrap/js/bootstrap.min.js"
			type="text/javascript"
		></script>
		<script
			src="/Scripts/flot/jquery.flot.js"
			type="text/javascript"
		></script>
		<script
			src="/Scripts/flot/jquery.flot.resize.js"
			type="text/javascript"
		></script>
		<script
			src="/Scripts/datatables/jquery.dataTables.js"
			type="text/javascript"
		></script>
		<script src="/Scripts/common.js" type="text/javascript"></script>
		<script src="./functions/dashboard.js"></script>
	</body>
</html>
